/*
Colors
Red
#CE0000

Blue
#000063

Light Blue
#5A79A5

Lighter Blue
#9CAAC6


Litest Blue
#DEE7EF

*/

#MainContent{
  width: 80%;
  margin: 0 auto;
}

#InfoTable{
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
}

#InfoTable td, #InfoTable th {
    font-size: 1em;
    border: 1px solid #000063;
    padding: 3px 7px 2px 7px;
}

#InfoTable th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #DEE7EF;
    color: #000063;
}

#InfoTable tr:nth-child(even) {
    background-color: #9CAAC6;
}

#imageSearch{


}

.navbar-default {
  background-color: #2c3e50;
  border-color: transparent;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18bc9c;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1a242f;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #1a242f;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #1a242f;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1a242f;
  color: #ffffff;
}
