{% extends "base.html" %}

{% block content %}
<h1>  {{ title }} </h1>
<div class="section">
<h2> Google Trend Data <h2>

<div id="tester" style="width:600px;height:250px;"></div>
<script>
	TESTER = document.getElementById('tester');
    var data = {{ data|safe }};
    var layout = {{ layout|safe }};
	Plotly.plot( TESTER, data, layout);
</script>
<h2> The Candidate Info </h2>
</div>

<DIV class="section">
<table id="InfoTable">
  {% for att in candidateInfo %}
    <tr>
      <td>{{att[0]}}</td>
      <td>{{att[1]}}</td>
    </tr>
  {% endfor %}
</table>
</div>

<DIV class="section">
<h2>Financial </h2>
<p>
{{ stateInfo }}
</p>
</div>
{% endblock %}
